.appRoot {
  height: 100%;
  background-color: #f2f2f2;
  display: grid;
  grid-template-rows: auto 1fr;
}

.contentArea {
  display: grid;
  grid-template-columns: 1fr minmax(320px, 720px) 1fr;
  grid-template-areas: ". image .";
  padding: 40px;
}

.imageWrapper {
  border: 1px solid #d9d9d9;
  grid-area: image;
}