.grid-container {
  display: grid;
  justify-content: center;
}

.grid {
  max-width: 1024px;
  padding: 128px 16px 96px 16px;
  display: grid;
  grid-row-gap: 0;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto 128px 96px auto 96px auto;
  grid-template-areas:
    'header header header header header header'
    '. . . . . .'
    'palette palette palette palette palette palette'
    'image image image image image image'
    '. . . . . .'
    'footer footer footer footer footer footer';
}

.titlebar {
  display: grid;
  grid-area: header;
}

.palette {
  grid-area: palette;
}

.info-1 {
  grid-area: info1;
}

.info-2 {
  grid-area: info2;
}

.image {
  grid-area: image;
}

.footer {
  grid-area: footer;
}
