.grid-container {
  display: grid;
  justify-content: center;
}

.grid {
  padding: 16px 16px 64px 16px;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'header header'
    'image image'
    'info1 info2'
    'info3 info4'
    'info5 .'
    'footer1 footer2';
}

.titlebar {
  display: grid;
  grid-area: header;
}

.info-1 {
  grid-area: info1;
}

.info-2 {
  grid-area: info2;
}

.info-3 {
  grid-area: info3;
}

.info-4 {
  grid-area: info4;
}

.info-5 {
  grid-area: info5;
}

.footer-1 {
  grid-area: footer1;
}

.footer-2 {
  grid-area: footer2;
}

.image-with-palette {
  grid-area: image;
}

.footer {
  grid-area: footer;
}

@media screen and (min-width: 1024px) {
  .grid {
    max-width: 1200px;
    padding: 0 32px;
    display: grid;
    grid-column-gap: 32px;
    grid-row-gap: 0;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 96px auto 128px auto 24px auto 128px auto 96px;
    grid-template-areas:
      '. . . . .'
      '. header header . .'
      '. . . . .'
      'info1 info2 info3 info4 info5'
      '. . . . .'
      ' image image image image image'
      '. . . . .'
      '. . . footer1 footer2';
  }
}
