.swatchWrapper {
  border: px solid #ffffff;
  overflow: hidden;
  animation: fadeIn 0.2s;
}

.loadingSwatch {
  border: 2px solid #ffffff;
  background-color: #d9d9d9;
  overflow: hidden;
  animation: fadeIn 0.2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
