.titleRoot {
  padding: 24px 0 16px 0;
}

.date {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #666666;
}

@media screen and (min-width: 1024px) {
  .titleRoot {
    padding: 32px 0;
  }
}
