.rootWrapper {
  padding: 24px 16px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
}

.header {
  animation-name: fadeInUp;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

.date {
  margin-bottom: 8px;
  text-transform: uppercase;
  font-weight: 600;
  color: #b5b5b5;
}

@keyframes fadeInUp {
  0%   { opacity: 0; }
  100% { opacity: 1;}
}

@media screen and (min-width: 1024px) {
  .rootWrapper {
    padding: 32px 32px;
  }
}

@media screen and (min-width: 1366px) {
  .rootWrapper {
    padding: 48px 128px;
  }
}
