.rootWrapper {
  height: 100vh;
  width: 100%;
  color: #323130;
}

.header {
  padding: 16px;
}

.date {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2;
  margin-bottom: 4px;
  color: #666666;
}

.title {
  font-size: 32px;
}
